---
---
<!DOCTYPE html>

<meta charset="UTF-8">
<title>{{ site.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ site.css_path }}/stylesheet.css">

<section class="main">
  <h1>{{ site.title }}</h1>
  <p>Your local photos and videos on your TV using Google Chromecast</p>
  <img id="logo" alt="Chromecaster" src="{{ site.img_path }}/screen.png">
  <h2 class="">Coming soon</h2>
</section>

<footer>
  Built with <i class="fa fa-heart"></i> by <a href="http://www.miguelfrde.com">miguelfrde</a>
</footer>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-68102047-1");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
